@model IEnumerable<Headmaster.Models.SemesterYear>

@{
    ViewBag.Title = "Index";
    IEnumerable<Headmaster.Models.AvailableCourses> course = ViewData["Course"] as IEnumerable<Headmaster.Models.AvailableCourses>;
    var SemesterYear = ViewBag.SemesterYearID as IEnumerable<SelectListItem>;
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SemesterYear.SemesterID, "Semester", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SemesterYearID, SemesterYear, "Select", htmlAttributes: new { @class = "form-control", @id = "SemesterDropDown" })
            @Html.ValidationMessageFor(model => model.SemesterYear.SemesterID, "", new { @class = "text-danger" })

        </div>
    </div>

                <input type="submit" value="Search" class="btn btn-default" />
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SemesterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearID)
        </th>
        
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearID)
        </td>
      
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SemesterYearID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SemesterYearID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SemesterYearID })
        </td>
    </tr>
}

</table>
