@model Headmaster.Models.AvailableCourses

@{
    ViewBag.Title = "RegisterStudent";
}

<h2>Register</h2>

<div>
    <h4></h4>
    <hr />

    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buildings.Abbreviaion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buildings.Abbreviaion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professors.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professors.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterYear.SemesterYearID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterYear.SemesterYearID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Times.Times1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Times.Times1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterYear1.SemesterYearID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterYear1.SemesterYearID)
        </dd>

    </dl>

</div>
        @using (Html.BeginForm("RegisterStudent", "AvailableCourses", new { model = Model }))
        {
        <input type="submit" value="Register" class="btn btn-default" />
        }
<p>
    
    @Html.ActionLink("Back to List", "SearchAndRegister")
</p>
