@model Headmaster.Models.Minors

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Minors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MinorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentMinors.StudentMinorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentMinors.StudentMinorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MinorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
