@model Headmaster.Models.Registrations

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Registrations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.CRN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.CRN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.Buildings.Abbreviaion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.Buildings.Abbreviaion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.Courses.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.Courses.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.Days.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.Days.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.Professors.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.Professors.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.SemesterYear.SemesterYearID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.SemesterYear.SemesterYearID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.Times.Times1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.Times.Times1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCourses.SemesterYear.SemesterYearID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCourses.SemesterYear.SemesterYearID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
