@model IEnumerable<Headmaster.Models.StudentMajors>

@{
    ViewBag.Title = "Index | Student Majors";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Majors.MajorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Majors.MajorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentMajorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentMajorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentMajorID })
        </td>
    </tr>
}

</table>
