@model IEnumerable<Headmaster.Models.Semesters>

@{
    ViewBag.Title = "Index | Semesters";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterYear.SemesterYearID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterYear.SemesterYearID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SemesterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SemesterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SemesterID })
        </td>
    </tr>
}

</table>
